<h1>Hello, Lakshman has published his app in Azure Cloud !!!</h1>
<p>Welcome to your new single-page application, built with: below technologies</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
</ul>
<p>CI/CD has been implemented from Azure Deployment Center and Github Actions</p>
<p>This component fetches app settings by environment from the server.</p>

<p *ngIf="!appSettings"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="appSettings">
  <thead>
    <tr>
      <th>Connection String</th>
      <th>EnvironmentName</th>
      <th>Environment Slot Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ appSettings.connectionString }}</td>
      <td>{{ appSettings.environmentName }}</td>
      <td>{{ appSettings.environmentSlotName }}</td>
    </tr>
  </tbody>
</table>

